.hero-banner {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    /*SE REMOVER APARECE A CARA DELA DE COMEÇO*/
    background-image: url("../../assets/nic_generated_by_ia.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}